<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Cadastro de cliente</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css"></link>
    </h:head>
    <h:body styleClass="container-fluid">
        <h:form class="form-horizontal" id="mainForm">
            <div class="row">
                <h2>Cadastro de cliente</h2>
            </div>
            <div class="form-group">
                <label for="codigo" class="col-sm-2 control-label">Código: </label>
                <div class="col-sm-8">
                    <h:inputText id="codigo" styleClass="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome: </label>
                <div class="col-sm-8">
                    <h:inputText id="name"  styleClass="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label id="telefone" class="col-sm-2 control-label">Telefone: </label>
                <div class="col-sm-8">
                    <h:inputText id="telefone" styleClass="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">Celular: </label>
                <div class="col-sm-8">
                    <h:inputText  styleClass="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">E-mail: </label>
                <div class="col-sm-8">
                    <h:inputText  styleClass="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="cidade" class="col-sm-2 control-label">Cidade: </label>
                <div class="col-sm-8">
                    <h:inputText id="cidade" styleClass="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="rua" class="col-sm-2 control-label">Rua: </label>
                <div class="col-sm-8">
                    <h:inputText id="rua" styleClass="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="estado" class="col-sm-2 control-label">Estado: </label>
                <div class="col-sm-8">
                    <h:inputText id="estado" styleClass="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">Tipo: </label>
                <div class="col-sm-8">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option1"/> Física
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option2" onclick="$('#mainForm\\:tipo\\:1').click();"/> Jurídica
                        </label>
                    </div>
                    <h:selectOneRadio id="tipo" rendered="true" styleClass="">
                        <f:selectItem itemValue="F"/>
                        <f:selectItem itemValue="J"/>
                    </h:selectOneRadio>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">CPF: </label>
                <div class="col-sm-8">
                    <h:inputText  styleClass="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">RG: </label>
                <div class="col-sm-8">
                    <h:inputText  styleClass="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">Sexo: </label>
                <div class="col-sm-8">
                    <h:inputText  styleClass="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">Data de nascimento: </label>
                <div class="col-sm-8">
                    <h:inputText  styleClass="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="cnpj" class="col-sm-2 control-label">CNPJ: </label>
                <div class="col-sm-8">
                    <h:inputText id="cnpj" styleClass="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="nomeFantasia" class="col-sm-2 control-label">Nome fantasia: </label>
                <div class="col-sm-8">
                    <h:inputText id="nomeFantasia" styleClass="form-control"/>
                </div>
            </div>
        </h:form>
        <script src="jquery/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                if($('#mainForm\\:tipo\\:0').first().is(':checked')){
                    
                }
            });
            $('input#option1').on('click',function (){
                doClick('mainForm\\:tipo\\:1');
            });
            function doClick(name){
                console.log('teste');
                $('#'+name).trigger('click');
            }
        </script>
    </h:body>
</html>
