<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Cadastro de produto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css"></link>
    </h:head>
     <h:body styleClass="container-fluid">
         <h:form styleClass="form-horizontal">
            <h2>Cadastro de produto</h2>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Descrição: </label>
                <div class="col-sm-8">
                    <h:inputText id="description" styleClass="form-control" value="#{produtoMB.description}" />
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">Preço: </label>
                <div class="col-sm-8">
                    <h:inputText id="price" styleClass="form-control" value="#{produtoMB.price}" />
                </div>
            </div>
            <h:commandButton action="#{produtoMB.salvar()}" value="Salvar" styleClass="btn btn-primary btn-lg" />
        </h:form>
        <script src="bootstrap/js/bootstrap.js"></script>
    </h:body>
</html>
